<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/view.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap"
        rel="stylesheet">
    <title>View notes</title>

</head>

<body>
    <script src="js/app.js"></script>
    <div class=coverTable>
        <table class="table-of-content">
        </table>
    </div>
    <div class="wrap-searcher">
        <div class="search-notebook">
            <div class="wrap-search-input">
                <input type="text" placeholder="Search your notebook">
                <div class="i">
                    <i class="fa fa-arrow-up" id="grey" aria-hidden="true"></i>
                    <i class="fa fa-arrow-down" id="grey" aria-hidden="true"></i>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </div>
            <div class="output"></div>
        </div>
    </div>
    <div class="contain_type">


        <div class="containA">
            <div class="content" id="cont"><i class="fa fa-list" aria-hidden="true"></i> Contents

            </div>
            <div class="content" id="search"><i class="fa fa-search" aria-hidden="true"></i> Search</div>
            <form action="/file/<%=file_name%>" method="GET">
                <button class="btnContent content"><i class="fas fa-arrow-alt-circle-left"></i> Back</button>
            </form>

        </div>
        <div class="containB">

            <div class="content sideBar" id="zoom_in"><i class="fa fa-minus" aria-hidden="true"></i></div>
            <div class="content" id="zoom_out"><i class="fa fa-plus" aria-hidden="true"></i></div>
            <div class="content sideBar" id="fit-screen"><i class="fa fa-arrows-alt" aria-hidden="true"></i> Fit screen
            </div>

            <form action="/file/<%=file_name%>/view_notes" method="GET">
                <input type="hidden" name="view" value="slide">
                <button class="btnContent content sideBar">Switch to slide view</button>
            </form>

        </div>
    </div>
    <!-- <div class="intro">You are now reading: <span class="high">-->

    <%if (Object.keys(data).length!==0){%>
        <div class="allNotes">
            <div class="contain_notes">
                <!-- to add specificity to the data boxes, use stack implementation
to check to see that the open bracket is 0 before adding specificity -->


                <script>const data = {};</script>
                <%for (let val in data){%>
                    <script>data['<%-JSON.stringify(val)%>'] = { css: '<%-JSON.stringify(data[val].css)%>'.trim().slice(1, -1), html: '<%-JSON.stringify(data[val].html)%>'.trim().slice(1, -1) };</script>
                    <%}%>
            </div>
        </div>
        <%}%>
            <footer>
                <div>Notes: <span class="num_of_notes"></span></div>
                <div>| Fit Screen: <span class="is_fit_screen"></span></div>
                <div>| Zoom: <span class="zoom_info"></span></div>
            </footer>

            <script src="js/view_list.js"></script>

</body>

</html>